* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161621;
    box-sizing: border-box;
    display: flex;
    height: 100vh; /* this line represents 100% of the vh (viewport) so the body takes the entire window*/
    justify-content: center;
    align-items: center;
}

.pixel-container{
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    background-color:#dedee0;
}

.pixel{
    flex: 0 0 auto;

    /* box shadow is better than borders because the latter
        eats up some pixels and force the div to wrap in a 
        3x3 grid instead of a 4x4 one.
    */ 
    box-shadow: .1px .1px 1px; 
}